body {
  margin: 0;
  min-width: 960px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #e6e2ec;
  background-image: url('img/web-development-services.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.page-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  box-shadow: 0 0 30px 0 #908a88;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.page-header {
  margin: 0 0 35px;
  padding: 32px 0 32px;
}

.page-header .container {
  max-width: 1366px;
  text-align: left;
  padding-left: 40px;
}

.page-footer .container {
  max-width: 1366px;
  text-align: right;
  padding: 15px 0 0 0;
}

.page-header a {
  margin-right: 56px;
  color: white;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.page-header a:hover,
.page-footer a:hover {
  transition: 300ms ease-out;
  text-decoration: underline;
}

.header-email {
  padding-left: 30px;
  background-image: url('img/icon-email-header.svg');
}

.header-phone {
  padding-left: 25px;
  background-image: url('img/icon-phone-header.svg');
}

.header-vk {
  padding-left: 38px;
  background-image: url('img/icon_vk.svg');
}

.header-github {
  padding-left: 25px;
  background-image: url('img/icon_github.svg');
}

.hero-image {
  margin-bottom: 47px;
  color: white;
}

.hero-image .container {
  max-width: 1366px;
  text-align: left;
  padding-left: 40px;
}

.heading {
  margin: 0 0 16px;
  font-family: 'Old Standard TT', 'Times', 'Times New Roman', serif;
  font-size: 48px;
  line-height: 76px;
  font-weight: 400;
}

.heading-text {
  font-family: 'Old Standard TT', 'Times', 'Times New Roman', serif;
  font-size: 28px;
  line-height: 56px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

.intro {
  background-color: white;
  padding: 40px 40px 0 40px;
  position: relative;
}

.intro::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 200px;
  background: url('img/separator.png');
}

.intro-section {
  display: flex;
  gap: 140px;
  justify-content: center;
  align-items: center;
  padding: 40px 100px 40px 110px;
  background: url('img/back.jpg') no-repeat;
}

.intro-section p {
  padding-bottom: 10px;
}

.intro-photo {
  height: 270px;
  width: 270px;
  border-radius: 50%;
}

.subheading {
  margin: 0 0 2git6px;
  font-family: 'Old Standard TT', 'Times', 'Times New Roman', serif;
  font-size: 44px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.intro .subheading {
  margin-bottom: 0;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

.skills-list {
  margin: 0;
  padding: 0;
  position: center;
}

.skills-list dt {
  padding-left: 32px;
  background-repeat: no-repeat;
  background-position: left;
}

.skill-html {
  background-image: url('img/icon-html.svg');
}

.skill-css {
  background-image: url('img/icon-css.svg');
}

.level {
  margin: 4px 0 16px;
  padding: 0;
  height: 14px;
  font-size: 0;
  background-color: #ffffff;
  border: 1px solid #86c3fa;
  border-radius: 8px;
}

.level div {
  margin: 1px;
  height: 12px;
  background-color: #288be6;
  border-radius: 6px;
}

.portfolio {
  background-color: white;
  padding: 0 0 20px 0;
}

.projects {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  margin: 0 0 80px;
}

.project-image {
  margin: 0 0 24px;
  text-align: center;
}

.projects p {
  margin: 0 0 24px;
}

.button {
  padding: 6px 20px;
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #288be6;
  color: #ffffff;
}

.page-footer {
  padding: 0 20px;
  background-color: #00417d;
  color: #ffffff;
  display: flex;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-email {
  padding-left: 30px;
  background-image: url('img/icon-email-footer.svg');
}

.footer-phone {
  padding-left: 25px;
  background-image: url('img/icon-phone-footer.svg');
}

.footer-copyright {
  margin-left: auto;
}

.works-list,
.certificates-list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 20px 0 40px 0;
  margin: 0;
  justify-content: center;
  text-align: center;
  margin-bottom: 60px;
}

.works-list {
  padding-bottom: 80px;
}

.works-item {
  width: 395px;
}

.certificates-item {
  width: 395px;
}

.works-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  padding: 30px;
}

.works-link:hover {
  box-shadow: 0 0 30px 0 #908a88;
  transition: 300ms ease-out;
}

.works-photo,
.certificates-photo {
  height: 265px;
  width: 393px;
  background-color: #c0c0c0;
  margin-bottom: 10px;
}

.certificates-photo {
  height: 400px;
  width: 300px;
}
