/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body {
  margin: 0;
  min-width: 960px;
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 32px;
  color: #222222;
  background-color: #e8dddb;
  background-image: url('img/web-development-services.jpg');
  background-repeat: no-repeat;
  background-position: top center;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.page-wrapper {
  max-width: 1366px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 30px 0 #908a88;
  box-shadow: 0 0 30px 0 #908a88;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*HEADER*/

.page-header {
  margin: 0 0 35px;
  padding: 32px 0 32px;
}

.page-header .container {
  max-width: 1366px;
  text-align: left;
  padding-left: 40px;
}

.page-header a {
  margin-right: 56px;
  color: white;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.page-header a:hover,
.page-footer a:hover {
  -webkit-transition: 300ms ease-out;
  -o-transition: 300ms ease-out;
  transition: 300ms ease-out;
  text-decoration: underline;
}

.link-email {
  padding-left: 30px;
  background-image: url('img/icon-email-header.svg');
}

.link-phone {
  padding-left: 25px;
  background-image: url('img/icon-phone-header.svg');
}

.link-vk {
  padding-left: 38px;
  background-image: url('img/icon_vk.svg');
}

.link-github {
  padding-left: 25px;
  background-image: url('img/icon_github.svg');
}

.hero-image {
  margin-bottom: 47px;
  color: white;
}

.hero-image .container {
  max-width: 1366px;
  text-align: left;
  padding-left: 40px;
}

.heading {
  margin: 0 0 16px;
  font-family: 'Old Standard TT', 'Times', 'Times New Roman', serif;
  font-size: 48px;
  line-height: 76px;
  font-weight: 400;
}

.heading-text {
  font-family: 'Old Standard TT', 'Times', 'Times New Roman', serif;
  font-size: 28px;
  line-height: 56px;
  font-weight: 400;
}

.hero-image p {
  margin: 0;
  font-size: 32px;
  line-height: 48px;
}

/*INTRO*/

.intro {
  background-color: white;
  padding: 40px 40px 0 40px;
}

.intro-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 140px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 100px 40px 110px;
  background: url('img/back.jpg') no-repeat;
}

.intro-section p {
  padding-bottom: 10px;
}

.intro-photo {
  height: 270px;
  width: 270px;
  border-radius: 50%;
}

.subheading {
  margin: 0 0 26px;
  font-family: 'Old Standard TT', 'Times', 'Times New Roman', serif;
  font-size: 44px;
  line-height: 80px;
  font-weight: 400;
  text-align: center;
}

.intro .subheading {
  margin-bottom: 0;
}

.user-image {
  margin: 0 0 32px;
  text-align: center;
}

.intro h3,
.portfolio h3 {
  margin: 0 0 12px;
  font-size: 28px;
  line-height: 40px;
  font-weight: 500;
}

.intro p {
  margin: 0 0 32px;
}

/*PORTFOLIO*/

.portfolio {
  background-color: white;
  padding: 0 0 20px 0;
  max-width: 1366px;
}

.works-list,
.certificates-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  /* gap: 30px; */
  padding: 20px 0 40px 0;
  margin: 0;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  max-width: 1366px;
}

.works-list {
  padding-bottom: 80px;
}

.works-item {
  width: 395px;
}

.certificates-item {
  width: 395px;
}

.certificates,
.certificates-list {
  max-width: 1366px;
}

.works-link,
.certificates-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5%;
  padding: 30px;
}

.works-link:hover,
.certificates-link:hover {
  -webkit-box-shadow: 0 0 30px 0 #908a88;
  box-shadow: 0 0 30px 0 #908a88;
  -webkit-transition: 300ms ease-out;
  -o-transition: 300ms ease-out;
  transition: 300ms ease-out;
}

.works-photo,
.certificates-photo {
  height: 265px;
  width: 393px;
  background-color: #c0c0c0;
  margin-bottom: 10px;
}

.certificates-photo {
  height: 400px;
  width: 300px;
}

/*FOOTER*/

.page-footer {
  padding: 10px 20px;
  background-color: #00417d;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-footer .container {
  max-width: 1366px;
  text-align: right;
  padding: 15px 0 0 0;
}

.page-footer a {
  margin-left: 56px;
  color: inherit;
  text-decoration: none;
  background-repeat: no-repeat;
  background-position: left;
}

.footer-copyright {
  margin-left: auto;
}

/*MODAL*/

.modal-open {
  height: 100vh;
  overflow: hidden;
}

.big-picture__preview {
  position: absolute;
  top: 60px;
  left: 33%;
  width: 594px;
  height: 779px;
  padding-bottom: 60px;
  border: 7px solid white;
  border-radius: 7px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 60px;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.hidden {
  display: none;
}

.big-picture__cancel {
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
}

.cancel {
  display: block;
  margin: 0;
  padding: 0;

  width: 42px;
  height: 42px;

  font-size: 0;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: url('img/icon-cross.svg');
  background-position: center;
  background-repeat: no-repeat;

  border: 0;
  border-radius: 2px;

  opacity: 0.6;
}

.cancel:hover,
.cancel:focus {
  background-color: rgba(255, 255, 255, 0.4);
  opacity: 1;
}

.cancel:active {
  -webkit-transform: translateY(1px);
  -ms-transform: translateY(1px);
  transform: translateY(1px);
}
